.container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formContainer form {
    width: 1100px;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #3333333d;
}

.descriptionSection{
    display: flex;
    flex-direction: column;
}
textarea{
    width: 80%;
    height: 152px;
    border-radius: 4px;
    border: 1px solid #3333333d;
    resize: none;
    padding: 12px;
    font-family: sans-serif;
}

.invalidTextarea{
    width: 80%;
    height: 152px;
    border-radius: 4px;
    border: 1px solid #FF0000;
    resize: none;
    padding: 12px;
    font-family: sans-serif;
}


.authorDurationSection{
    display: flex;
    align-items: center;
}

.ButtonRow{
    display: flex;
    align-self: flex-end;
    gap:15px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.CourseAuthors{
    justify-self: flex-end;
    margin-left: 250px;
}

#descriptionRequiredMessage{
    color:#FF0000;
}