.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: solid;
    width: 75%;
    margin: 0 15px 0 15px;
    padding: 5px;
  }
  
  .wrapper > div {
    box-sizing: content-box;
    width: calc(50% - 15px);
    padding-left: 15px;
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif; 
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
  }
  

  
  .item2 {
    display: flex;
    justify-content: end;
  }
  