.searchbar{
    margin-right: 15px;
    width: 400px;
    padding: 15px;
    margin-bottom: 8px;
    border: 1px solid;
    border-color: #CFCFCF;
    border-radius: 5px;
    font-size: 16px;

    outline: none;
}