.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;

    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #3333333d;
}

.Link{
    text-decoration: none;
    color:black;
}